.event-container {
    display: flex;
    gap: 10px
}

.event-title {
    font-size: 34px;
    font-weight: bold;
}


.event-duration {
    font-size: 20px;
}

.event-description {
    font-size: 18px;
}

.event-detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.event-img {
    flex: 1;
}

@media screen and (max-width: 480px) {
    .event-title {
        font-size: 20px;
        font-weight: bold;
    }

    .event-duration {
        font-size: 16px;
    }

    .event-description {
        font-size: 12px;
    }

    .event-img {
        display: none;
    }
}