.event-container {
    display: flex;
    gap: 10px;
    height: 190px;
    min-height: 190px;
    max-height: 190px;
    flex: 1;
    position: relative;
    width: calc(100% - 50px);
}

.event-title {
    font-size: 34px;
    font-weight: bold;
}


.event-duration {
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #9b9999;
}

.event-detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    max-width: 75%;
}

.event-image {
    flex: 1;
    z-index: -1;
    position: absolute;
    right: 30px;
    width: 190px;
    height: 190px;
    background-repeat: no-repeat;
}

.event-description {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    flex: 1;
    font-size: 18px;
    overflow: auto;
}

.event-parental {
    padding: 2px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: #e0b86e;
    color: white;
    font-size: 14px;
}


@media screen and (max-width: 768px) {
    .event-title {
        font-size: 28px;
        font-weight: bold;
    }

    .event-duration {
        font-size: 20px;
    }

    .event-description {
        font-size: 16px;
    }

    .event-image {
        display: none;
    }

    .event-detail {
        max-width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .event-title {
        font-size: 24px;
        font-weight: bold;
    }

    .event-duration {
        font-size: 18px;
    }

    .event-description {
        font-size: 16px;
    }

    .event-img {
        display: none;
    }

}

@media screen and (max-width: 480px) {
    .event-img {
        display: none;
    }
}