.epg-date {
    position: absolute;
    right: 60px;
    color: #6c757d;
    font-size: 23px;
    font-weight: bold;
}

@media screen and (max-width: 468px) {
    .epg-date {
        position: relative;
        padding: 0 30px;
        font-size: 16px;
        right: 30px;
    }
}